/* Theme treeview rows */

GtkTreeView row 
{
  border-width: 50;
  border-radius: 0;
}

GtkTreeView row:selected:focused 
{
  background-image: -gtk-gradient (linear,
                                   left top, left bottom,
                                   from (@selected_bg_color),
                                   to (shade (@selected_bg_color, 1.4)));
}
